
@*
    FINANZAS
*@

@{
    Layout = "~/Views/Shared/_Finanzas.cshtml";
}

@model RedBelgrano.DataViewModel.InicioTransaccionesVM;

<head>
    <link rel="stylesheet" href="~/css/Finanzas.css" asp-append-version="true" />
</head>

<div class="mt-4 mb-4 ">

    <div class="contenedor-tarjetas">

        <div class="tarjeta reserva">
            <div class="tarjeta-titulo">Reservas</div>
            <div class="tarjeta-cuerpo @(Model.Reserva >= 0? "data-azul":"data-rojo")">$@Model.Reserva</div>
        </div>

        <div class="tarjeta balance">
            <div class="tarjeta-titulo">Balance Del Mes</div>
            <div class=" tarjeta-cuerpo @(Model.BalanceMes.Total >= 0? "data-azul":"data-rojo") " >$@Model.BalanceMes.Total</div>
        </div>

        <div class="tarjeta ingresos">
            <div class="tarjeta-titulo">Ingresos Del Mes</div>
            <div class="tarjeta-cuerpo @(Model.IngresosMes.Total >= 0? "data-azul":"data-rojo")">$@Model.IngresosMes.Total</div>
        </div>

        <div class="tarjeta gastos">
            <div class="tarjeta-titulo">Gastos Del Mes</div>
            <div class="tarjeta-cuerpo @(Model.GastosMes.Total >= 0? "data-azul":"data-rojo")">$@Model.GastosMes.Total</div>
        </div>

    </div>
</div>


<div class="ut-contenedor mt-4 ">
    <h6> Ultima Transaccion </h6>

    <div class="transaccion-card" onclick="location.href='@Url.Action("Detalle", "Finanzas", new { id = @Model.UltimaTransaccion?.transaccionId })'">
        <div class="transaccion-item">
            <span class="transaccion-label">ID:</span>
            <span class="transaccion-valor">@Model.UltimaTransaccion.transaccionId</span>
        </div>

        <div class="transaccion-item">
            <span class="transaccion-label">Monto:</span>
            <span class="transaccion-valor">$@Model.UltimaTransaccion.monto</span>
        </div>

        <div class="transaccion-item">
            <span class="transaccion-label">Detalle:</span>
            <span class="transaccion-valor detalle-recortado">@Model.UltimaTransaccion.detalle</span>
        </div>

        <div class="transaccion-item">
            <span class="transaccion-label">Fecha:</span>
            <span class="transaccion-valor">@Model.UltimaTransaccion.fecha</span>
        </div>
    </div>

</div>








