@model Residente

<p> <strong>Nombre Completo:</strong> @Model.nombre @Model.apellido  </p>
<p> <strong>Documento:</strong> @Model.dni </p>
<p> <strong>Email:</strong> @Model.email </p>
<p> <strong>Tipo:</strong> @Model.tipoResidente.tipo </p>
<p> <strong>Departamento:</strong> @Model.piso @Model.departamento </p>
<p> <strong>Estado:</strong> @Model.estadoResidente.estado </p>

<form asp-controller="Residentes" asp-action="DarDeBaja" method="post">
    <input type="hidden" name="id" value="@Model.residenteId" />
    <button type="submit" class="btn btn-danger">Eliminar</button>

    <a href="@Url.Action("Modificar", "Residentes", new { id = Model.residenteId })" class="btn btn-secondary">Modificar</a>
</form>
