@model List<Residente>
<!--RESIDENTEEEESSSSSS-->

<head>
    <link rel="stylesheet" href="~/css/Residentes.css" asp-append-version="true" />

</head>


<!--ROW de encabezado-->
<div class="row encabezado-container">

    <div class="col-6 align-content-center">
        <h2 class="titulo-pagina">Listado de residentes</h2>
    </div>
    
    <div class="col-6 align-content-center text-end pe-4 ">
        <a class="bt-añadir" asp-controller="Residentes" asp-action="Nuevo"> + Añadir Residente</a>

    </div>

</div>

<!--ROW de tabla-->
<div class="row contenedor-tabla">

    <div class="table-responsive">
    
    <table class="table"> 

        <thead class="head-tabla">

            <tr class="">
                <th>Nombre</th>
                <th>DNI</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Piso</th>
                <th>Departamento</th>
                <th>FechaIngreso</th>
            
            </tr>
        </thead>

        <tbody>

            @foreach(Residente residente in Model)
            {
                @if(residente.fechaBaja == null)
                {

                    <tr onclick="location.href='@Url.Action("Detalle", "Residentes", new { id = residente.residenteId })'" style="cursor:pointer;" >
                        <td>@residente.nombre</td>
                        <td>@residente.dni</td>
                        <td>@residente.email</td>
                        <td>@residente.telefono</td>
                        <td>@residente.tipoResidente?.tipo</td>
                        <td>@residente.estadoResidente?.estado</td>
                        <td>@residente.piso</td>
                        <td>@residente.departamento</td>
                        <td>@residente.fechaIngreso</td>

                        @if(residente.fechaBaja != null)
                        {
                            <td>@residente.fechaBaja</td>
                        }
                        <!--Poner boton de Eliminar en la vista Detalle-->
                    </tr>
                }

            }
        
        </tbody>
    
    </table>
    </div>

</div>